.button {
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 50px;
  line-height: var(--text-height-small);
  font-weight: var(--text-weight-semibold);
  font-size: var(--text-size-low);
  background-color: var(--primary-color);
  color: var(--color-white);
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-opacity);
}

@media screen and (max-width: 1279px) {
  .button { 
    font-size: var(--text-size-2);
    line-height: var(--text-height-small);
  }
}